@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background: rgb(0, 0, 0);
    height: 5em;
    justify-content: space-between;
    padding: 0 10%;
    
}

.logo_header {
    color: darkgoldenrod;
    cursor: pointer;
}

.navigation_header {
    gap: 3em;
}

.navigation_header a {
    text-decoration: none;
    color: white;
    transition: 2.5s;
    font-weight: bold;
}

.navigation_header a:hover {
    transform: scale(1.2);
}

.btn_icons {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

/*  código para inserir uma transição, necessário revisar
.content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.show {
    opacity: 1;
} */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
    

}

.slides {
    display: flex;
    transition: 1s;

}

.slide {
    width: 100%;
    text-align: center;
    
}

img {
    padding: 15px;
}

.slides img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.manual-navigation, .navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-navigation {
    margin-top: 90%;
}

.navigation-auto {
    margin-top: 80%;
}

.barbershop {
    margin-top: 80px;
}

/* .manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn {
    margin-left: 20px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    margin-left: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
} */

/* @media screen and (max-width: 380px) {
    .header, .navigation_header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header {
        height: 1em;
        justify-content: space-between;
        font-size: 1em;

    }
} */

@media screen and (max-width: 768px) {
    .btn_icons {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: black;
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;

    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

.imagem {
    background-image: url(../imagens/header\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 450px;
}

.imagem p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro {
    text-align: center;
    margin-top: 30px;
}


.text {
    margin-top: 30px;
}



button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.servicos h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.imagens-servicos {
    column-count: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    transition: 2s;
    
}



.servicos img {
    width: 40%;
    margin-top: 8px;
    margin-bottom: 50px;

}

.imagens-servicos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.rodape {
    background: rgb(0, 0, 0);
    color: white;
    height: 45px;
    text-align: center;
    justify-content: center;
    padding: 8px;
}